.sign-up-paragraph {
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 300;
  color: green;
  text-align: center;
}

.email-input,
.password-input,
.password-repeat-input {
  margin-left: 42%;
  height: 20px;
  width: 200px;
  border-radius: 10px;
}

.submit-button {
  margin-left: 42%;
  border-radius: 10px;
  width: 100px;
}
